<!doctype html>
<html>
<head>
    <title>Administration of invoices</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:20px; word-wrap:break-word; }
        a:link       { color:black;}
        a:visited    { text-decoration: none; color:black;}
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Invoices Card</h1>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="well">
                    <p>
                        <h3><hr><a href="/invoices/<%= invoice._id %>"><span class="fa fa-bookmark"></span></a></h3>
                        <strong>Date</strong>: <%= invoice.date %><br>
                        <strong>Status</strong>: <%= invoice.status %><br>
                        <strong>Scope of work</strong>: <%= invoice.scopeOfWork %><br>
                        <strong>Price</strong>: <%= invoice.price %>
                    </p>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="text-center">
        <a href="/invoices" class="btn btn-default"><span class="fa fa-bookmark"></span> View all invoices </a>
        <a href="/updateInvoice/<%= invoice._id %>" class="btn btn-default"><span class="fa fa-bookmark"></span> Update current invoice </a>
    </div>

</div>
</body>
</html>
